{% extends 'homebase.html' %}

{% block header %}
	{% include 'header.html' %}
{% endblock header %}

{% block body %}

	<!--  Banner Section -->
    <section class="contact-banner-section">
		<div class="pattern-layer-one" style="background-color:#f7832a"></div>
		<div class="pattern-layer-two" style="background-color:#f24848"></div>
		<div class="auto-container">
			<!-- Page Breadcrumb -->
			<ul class="page-breadcrumb">
				<li><a href="{% url 'home' %}">Главная</a></li>
				<li>О нас</li>
			</ul>
			<div class="content-box">
				<h2>О нас</h2>
			</div>
		</div>
	</section>
	<!-- End  Banner Section -->
    
    <!--  Page Section -->
	<section class="contact-page-section">
		<div class="pattern-layer-three" style="background-image: url(static/images/icons/icon-8.png)"></div>
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Info Column -->
				<div class="info-column col-lg-12 col-md-12 col-12 text-center">
					<div class="inner-column">
						<h2>{{setting.vacancie|safe}}</h2>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Page Section -->

{% endblock body %}

{% block footer %}
	{% include 'footer.html' %}
{% endblock footer %}


