{% extends 'homebase.html' %}

{% block header %}
	{% include 'header.html' %}
{% endblock header %}

{% block body %}

	<!--  Banner Section -->
    <section class="contact-banner-section">
		<div class="auto-container">
			<!-- Page Breadcrumb -->
			<ul class="page-breadcrumb">
				<li><a href="{% url 'home' %}">Главная</a></li>
				<li>О нас</li>
			</ul>
			<div class="content-box">
				<h2>О нас</h2>
			</div>
		</div>
	</section>
	<!-- End  Banner Section -->
    
    <!--  Page Section -->
	<section class="contact-page-section">
		<div class="pattern-layer-three" style="background-image: url(static/images/icons/icon-8.png)"></div>
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Start Info Column -->
				<div class="info-column col-lg-6 col-md-6 col-12 text-left">
					<div class="inner-column">
						<h2>{{about.one_big_title}}</h2>
						<p style="font-size: 18px;margin-top: 25px; line-height: 35px;">
						{{about.one_big_desc|safe}}
						</p>
					</div>
				</div>
				<!-- Info Column -->
				<div class="info-column col-lg-6 col-md-6 col-12 text-center" style="margin-bottom: 60px;">
					<div class="inner-column">
						<a href="{% url 'gallery' %}">
							<div class="indexRelative" style="background: url('{{about.one_big_image.url}}') center / cover;width: 400px; height: 400px;">
								<img src="{{about.one_medium_image.url}}" width="200px">
							</div>
						</a>
					</div>
				</div>
				<!-- End Info Column -->

				<!-- Start Info Column -->
				<div class="info-column col-lg-6 col-md-6 col-12 text-center">
					<div class="inner-column">
						<a href="{% url 'gallery' %}">
							<img src="{{about.two_big_image.url}}" width="400px">
						</a>
					</div>
				</div>
				<!-- Info Column -->
				<div class="info-column col-lg-6 col-md-6 col-12 text-right">
					<div class="inner-column">
						<h2>{{about.two_big_title}}</h2>
						<p style="font-size: 18px;margin-top: 25px; line-height: 35px;">
						{{about.two_big_desc|safe}}</p>
					</div>
				</div>
				<!-- End Info Column -->
				
				<!-- Info Column -->
				<div class="info-column col-lg-6 col-md-6 col-12 text-left">
					<div class="inner-column">
						<i class="fa fa-3x fa-rocket" style="color:#52ba7e"></i>
						<h4>{{about.three_big_title}}</h4>
						<p style="font-size: 15px;margin-top: 25px; line-height: 27px;">
						{{about.three_big_desc|safe}}</p>
					</div>
				</div>
				<!-- End Info Column -->

				<!-- Info Column -->
				<div class="info-column col-lg-6 col-md-6 col-12 text-left">
					<div class="inner-column">
						<i class="fa fa-3x fa-globe" style="color:#52ba7e"></i>
						<h4>{{about.four_big_title}}</h4>
						<p style="font-size: 15px;margin-top: 25px; line-height: 27px;">
						{{about.four_big_desc|safe}}</p>
					</div>
				</div>
				<!-- End Info Column -->

				<!-- Start Info Column -->
				<div class="info-column col-lg-6 col-md-6 col-12 text-center">
					<div class="inner-column">
						<a href="{% url 'gallery' %}">
							<img src="{{about.five_big_image.url}}" width="500px">
						</a>
					</div>
				</div>
				<!-- Info Column -->
				<div class="info-column col-lg-6 col-md-6 col-12 text-right">
					<div class="inner-column">
						<h2>{{about.five_big_title}}</h2>
						<p style="font-size: 18px;margin-top: 25px; line-height: 35px;">
						{{about.five_big_desc|safe}}</p>
					</div>
				</div>
				<!-- End Info Column -->

				<!-- Start Info Column -->
				<div class="info-column col-lg-6 col-md-6 col-12 text-left">
					<div class="inner-column">
						<h2>{{about.six_big_title}}</h2>
						<p style="font-size: 18px;margin-top: 25px; line-height: 35px;">
						{{about.six_big_desc|safe}}</p>
					</div>
				</div>
				<!-- Info Column -->
				<div class="info-column col-lg-6 col-md-6 col-12 text-center">
					<div class="inner-column">
						<a href="{% url 'gallery' %}">
							<img src="{{about.six_big_image.url}}" width="500px">
						</a>
					</div>
				</div>
				<!-- End Info Column -->

			</div>
		</div>
	</section>
	<!-- End Page Section -->

{% endblock body %}

{% block footer %}
	{% include 'footer.html' %}
{% endblock footer %}


