{% extends 'homebase.html' %}

{% block header %}
	{% include 'header.html' %}
{% endblock header %}

{% block body %}

	<!--  Banner Section -->
    <section class="contact-banner-section">
		<div class="pattern-layer-one" style="background-color:#f7832a"></div>
		<div class="pattern-layer-two" style="background-color:#f24848"></div>
		<div class="auto-container">
			<!-- Page Breadcrumb -->
			<ul class="page-breadcrumb">
				<li><a href="{% url 'home' %}">Главная</a></li>
				<li>Курсы</li>
			</ul>
			<div class="content-box">
				<h2>Курсы</h2>
			</div>
		</div>
	</section>
	<!-- End  Banner Section -->

    <!--  Page Section -->
    <section class="contact-page-section">
		<div class="auto-container">
			<div class="row clearfix">
				
				{% comment %} {% for cl in cat_cources %} {% endcomment %}
				<div class="info-column col-lg-4 col-md-4 col-6">
					<div class="inner-column">
						<a href="{{cat_cources.get_absolute_url}}">
							<img src="{{cat_cources.image.url}}">
						</a>
					</div>
                    <a href="{{cat_cources.get_absolute_url}}"><h4 class="mt-2">{{cat_cources.title}}</h4></a>
				</div>
				{% comment %} {% endfor %} {% endcomment %}
				
			</div>
		</div>
	</section>
	<!-- End Page Section -->

{% endblock body %}

{% block footer %}
	{% include 'footer.html' %}
{% endblock footer %}


