{% extends 'homebase.html' %}

{% block header %}
	{% include 'header.html' %}
{% endblock header %}

{% block body %}

	<!--  Banner Section -->
    <section class="contact-banner-section">
		<div class="auto-container">
			<!-- Page Breadcrumb -->
			<ul class="page-breadcrumb">
				<li><a href="{% url 'home' %}">Главная</a></li>
				<li>Кружки и Клубы</li>
			</ul>
			<div class="content-box">
				<h2>Кружки и Клубы</h2>
			</div>
		</div>
	</section>
	<!-- End  Banner Section -->

    <!--  Page Section -->
    <section class="contact-page-section">
		<div class="auto-container">
			<div class="row clearfix">
				
				{% for cl in club %}
				<div class="info-column col-lg-4 col-md-4 col-6">
					<div class="inner-column">
						<a href="{{cl.get_absolute_url}}">
							<img src="{{cl.image.url}}">
						</a>
					</div>
                    <a href="{{cl.get_absolute_url}}"><h4 class="mt-2">{{cl.title}}</h4></a>
				</div>
				{% endfor %}
				
			</div>
		</div>
	</section>
	<!-- End Page Section -->

{% endblock body %}

{% block footer %}
	{% include 'footer.html' %}
{% endblock footer %}


