{% extends 'homebase.html' %}

{% block header %}
	{% include 'header.html' %}
{% endblock header %}

{% block body %}

	<!--  Banner Section -->
    <section class="contact-banner-section">
		<div class="pattern-layer-one" style="background-color:#f7832a"></div>
		<div class="pattern-layer-two" style="background-color:#f24848"></div>
		<div class="auto-container">
			<!-- Page Breadcrumb -->
			<ul class="page-breadcrumb">
				<li><a href="{% url 'home' %}">Главная</a></li>
				<li>Партнёры</li>
			</ul>
			<div class="content-box">
				<h2>Партнёры</h2>
			</div>
		</div>
	</section>
	<!-- End  Banner Section -->

    <!--  Page Section -->
	<section class="contact-page-section">
		<div class="pattern-layer-three" style="background-image: url(images/icons/icon-8.png)"></div>
		<div class="auto-container">
			<div class="row clearfix">
				
                {% for par in partners %}
				<div class="info-column col-lg-3 col-md-3 col-6">
					<div class="inner-column">
                        <a href="#">
                            <img src="{{par.image.url}}">
                            <p class="uni-name mt-2">{{par.title}}</p>
                        </a>
					</div>
				</div>
                {% endfor %}

			</div>
		</div>
	</section>
	<!-- End Page Section -->

{% endblock body %}

{% block footer %}
	{% include 'footer.html' %}
{% endblock footer %}


