{% extends 'homebase.html' %}

{% block header %}
	{% include 'header.html' %}
{% endblock header %}

{% block body %}

	<!--  Banner Section -->
    <section class="contact-banner-section">
		<div class="auto-container">
			<!-- Page Breadcrumb -->
			<ul class="page-breadcrumb">
				<li><a href="{% url 'home' %}">Главная</a></li>
				<li>Преподаватели</li>
			</ul>
			<div class="content-box">
				<h2>Преподаватели</h2>
			</div>
		</div>
	</section>
	<!-- End  Banner Section -->

    <!--  Page Section -->
	<section class="team-section-two">
		<div class="auto-container">
			<div class="inner-container">
				<div class="color-layer"></div>
				<div class="row clearfix">
					
					{% for tea in teacher %}
					<div class="team-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box">
							<div class="image">
								<a href="{{tea.get_absolute_url}}">
									<img src="{{tea.image.url}}" 
                                    style="height: 270px;object-fit: cover;"/>
                                </a>
							</div>
							<div class="lower-content">
								<h5><a href="{{tea.get_absolute_url}}">{{tea.name}}</a></h5>
								<div class="designation">- {{tea.sub_title}}</div>
							</div>
						</div>
					</div>
					{% endfor %}

				</div>
			</div>
		</div>
	</section>
	<!-- End Page Section -->

{% endblock body %}

{% block footer %}
	{% include 'footer.html' %}
{% endblock footer %}


