{% extends 'homebase.html' %}

{% block header %}
	{% include 'header.html' %}
{% endblock header %}

{% block body %}

	<!--  Banner Section -->
    <section class="contact-banner-section">
		<div class="auto-container">
			<!-- Page Breadcrumb -->
			<ul class="page-breadcrumb">
				<li><a href="{% url 'home' %}">Главная</a></li>
				<li>Вакансии</li>
			</ul>
			<div class="content-box">
				<h2>Вакансии</h2>
			</div>
		</div>
	</section>
	<!-- End  Banner Section -->

    <!--  Page Section -->
	<section class="contact-page-section">
		<div class="pattern-layer-three" style="background-image: url(static/images/icons/icon-8.png)"></div>
		<div class="auto-container">
			<div class="row clearfix">
				
				{% for cat_ce in vacancie %}
				<!-- Course Column -->
				<div class="course-block style-two col-lg-3 col-md-6 col-6">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="{{cat_ce.get_absolute_url}}">
								<img src="{{cat_ce.image.url}}" style="height: 200px; object-fit: cover;" alt="{{cat_ce.title}}" /></a>
						</div>
						<div class="lower-content">
							<h5><a href="{{cat_ce.get_absolute_url}}">{{cat_ce.title}}</a></h5>
							<p>{{cat_ce.desc|truncatewords:6|safe}}</p>
						</div>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
	</section>
	<!-- End Page Section -->

{% endblock body %}

{% block footer %}
	{% include 'footer.html' %}
{% endblock footer %}


