{% load static %}
<!-- Main Footer -->
<footer class="main-footer">
    <div class="circle-layer"></div>
    <div class="pattern-layer-one" style="background-image: url(static/images/background/pattern-12.png)"></div>
    <div class="pattern-layer-two" style="background-image: url(static/images/background/pattern-13.png)"></div>
    <div class="pattern-layer-three" style="background-image: url(static/images/background/pattern-14.png)"></div>
    <div class="pattern-layer-four" style="background-image: url(static/images/background/pattern-13.png)"></div>
    <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">
                
                <!-- Footer Column -->
                <div class="footer-column col-lg-5 col-md-12 col-sm-12">
                    <div class="footer-widget logo-widget">
                        <div class="logo">
                            <a href="{% url 'home' %}"><img src="{% static 'images/logo1.png' %}" width="220px" alt="" /></a>
                        </div>
                        <ul class="info-list">
                            <li>Tel:<a href="tel:{{setting.phone_1}}"> {{setting.phone_1}}</a></li>
                            <li>Tel:<a href="tel:{{setting.phone_2}}"> {{setting.phone_2}}</a></li>
                            <li>Email:<a href="mailto:{{setting.email}}"> 
                                <span class="__cf_email__">{{setting.email}}</span></a>
                            </li>
                        </ul>
                        <!-- Social Box -->
                        <ul class="social-box">
                            <li class="twitter">
                                <a target="_blank" href="{{setting.whatsapp}}" style="background-color:#28a745; font-size:26px" class="fa fa-2x fa-whatsapp"></a>
                            </li>
                            <li class="facebook">
                                <a target="_blank" href="{{setting.facebook}}" style="font-size:22px" class="fa fa-2x fa-facebook-f"></a>
                            </li>
                            <li class="dribbble">
                                <a target="_blank" href="{{setting.instagram}}" style="font-size:22px" class="fa fa-2x fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!-- Footer Column -->
                <div class="footer-column col-lg-7 col-md-12 col-sm-12">
                    <div class="row clearfix">
                        <!-- Column -->
                        <div class="column col-lg-4 col-md-4 col-sm-12">
                            <h5>О нас</h5>
                            <ul class="list">
                                <li><a href="{% url 'about' %}">О нас</a></li>
                                <li><a href="{% url 'teacher' %}">Преподаватели</a></li>
                                <li><a href="{% url 'gallery' %}">Галерея</a></li>
                                <li><a href="{% url 'partner' %}">Партнёры</a></li>
                                <li><a href="{% url 'vacancie' %}">Вакансии</a></li>
                            </ul>
                        </div>
                        <!-- Column -->
                        <div class="column col-lg-4 col-md-4 col-sm-12">
                            <h5>Курсы</h5>
                            <ul class="list">
                                {% for cat_r in cat_cour %}
                                <li><a href="#">{{cat_r.title}}</a></li>
                                {% endfor%}
                            </ul>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
        
        
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="row clearfix">
                
                <!-- Copyright Column -->
                <div class="copyright-column col-lg-6 col-md-12 col-sm-12">
                    <div class="copyright">Copyright 2020, Все права защищены</div>
                </div>
                
                <!-- Nav Column -->
                <div class="nav-column col-lg-6 col-md-12 col-sm-12">
                    <ul>
                        <li><a href="{% url 'policy' %}">Privacy Policy</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</footer>