{% load static %}
<!-- Main Header-->
<header class="main-header header-edzen">
    
    <!--Header-Upper-->
    <div class="header-upper">
        <div class="outer-container clearfix">
            
            <div class="pull-left logo-box">
                <div class="logo">
                    <a href="{% url 'home' %}">
                        <img src="{{setting.logo.url}}" width="220px" alt="">
                    </a>
                </div>
            </div>
            
            <div class="nav-outer clearfix">
                <!--Mobile Navigation Toggler-->
                <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
                <!-- Main Menu -->
                <nav class="main-menu navbar-expand-md">
                    <div class="navbar-header">
                        <!-- Toggle Button -->    	
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    
                    <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                        <ul class="navigation clearfix">
                            <li class="dropdown has-mega-menu"><a href="#"><span>Курсы <i class="fa fa-arrow-down"></i></span></a>
                                <div class="mega-menu">
                                    <!-- Upper Box -->
                                    <div class="upper-box">
                                        <div class="page-links-box">
                                            {% for cat_r in cat_cour %}
                                                <a href="#" class="link">
                                                    <!-- <span class="icon flaticon-bullhorn"></span> -->
                                                    <img src="{{cat_r.icon.url}}" width="40px" alt="">
                                                    {{cat_r.title}}
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!-- Lower Box -->
                                </div>
                            </li>
                            <li class="current"><a href="{% url 'home' %}"><span data-hover="Home">Главная</span></a></li>
                            <li class="dropdown"><a href="#">О нас</a>
                                <ul>
                                    <li><a href="{% url 'about' %}">О нас</a></li>
                                    <li><a href="{% url 'teacher' %}">Преподаватели</a></li>
                                    <li><a href="{% url 'gallery' %}">Галерея</a></li>
                                    <li><a href="{% url 'partner' %}">Партнёры</a></li>
                                    <li><a href="{% url 'vacancie' %}">Вакансии</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'usloviya' %}">Условия приёма</a></li>
                            <li class="dropdown"><a href="#">Курсы</a>
                                <ul>
                                {% for cat_cources in cat_cour %}
                                    <li><a href="#">{{cat_cources.title}}</a></li>
                                {% endfor %}
                                </ul>
                            </li>
                            <li><a href="{% url 'club' %}">Кружки и Клубы</a></li>
                            <li><a href="{% url 'news' %}">Новости</a></li>
                            <li><a href="{% url 'contact' %}" style="margin-right: 12px;">Контакты</a></li>
                            
                        </ul>
                    </div>
                </nav>
                
                <!-- Main Menu End-->
                <div class="outer-box clearfix">
                    
                    <!-- Social Box -->
                    <ul class="social-box">
                        <!-- Nav Btn -->
                        <li class="nav-btn navSidebar-button">
                            <span class="icon flaticon-menu-4"></span>
                        </li>
                        <!-- Nav Btn -->
                        <li class="instagram">
                            <a target="_blank" href="{{setting.instagram}}" style="font-size: 15px" class="fa fa-instagram"></a>
                        </li>
                        <li class="facebook">
                            <a target="_blank" href="{{setting.facebook}}" style="font-size: 15px" class="fa fa-facebook-f"></a>
                        </li>
                        <li class="twitter">
                            <a target="_blank" href="http://wa.me/{{setting.whatsapp}}" style="font-size: 19px" class="fa fa-whatsapp"></a>
                        </li>	
                    </ul>
                    
                </div>
            </div>
            
        </div>
    </div>
    <!--End Header Upper-->
    
    <!-- Sticky Header  -->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="{% url 'home' %}" title=""><img src="{{setting.logo.url}}" alt="" width="220px"></a>
            </div>
            <!--Right Col-->
            <div class="pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <!--Keep This Empty / Menu will come through Javascript-->
                </nav>
                <!-- Main Menu End-->
                
            </div>
        </div>
    </div>
    <!-- End Sticky Menu -->

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><span class="icon flaticon-multiply"></span></div>
        
        <nav class="menu-box">
            <div class="nav-logo">
                <a href="{% url 'home' %}">
                    <img src="{{setting.logo.url}}" alt="">
                </a>
            </div>
            <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
        </nav>
    </div><!-- End Mobile Menu -->

</header>
<!-- End Main Header -->

<!-- Sidebar Cart Item -->
<div class="xs-sidebar-group info-group">
    <div class="xs-overlay xs-bg-black"></div>
    <div class="xs-sidebar-widget">
        <div class="sidebar-widget-container">
            <div class="widget-heading">
                <a href="#" class="close-side-widget">
                    X
                </a>
            </div>
            <div class="sidebar-textwidget">
                
                <!-- Sidebar Info Content -->
                <div class="sidebar-info-contents">
                    <div class="content-inner">
                        <div class="logo">
                            <a href="{% url 'home' %}"><img src="{{setting.logo.url}}" alt="" /></a>
                        </div>
                        <div class="contact-info">
                            <h2>Контактная информация</h2>
                            <ul class="list-style-two">
                                <li><span class="icon fa fa-location-arrow"></span>{{setting.address}}</li>
                                <li><a href="tel:{{setting.phone_1}}">
                                    <span class="icon fa fa-phone"></span>{{setting.phone_1}}</a>
                                </li>
                                <li><a href="tel:{{setting.phone_2}}">
                                    <span class="icon fa fa-phone"></span>{{setting.phone_2}}</a>
                                </li>
                                <li><span class="icon fa fa-envelope"></span><a href="mailto:{{setting.email}}" class="__cf_email__" data-cfemail="610d040300130821060c00080d4f020e0c">
                                    {{setting.email}}</a>
                                </li>
                                <li><span class="icon fa fa-clock-o"></span>{{setting.time_work}}</li>
                            </ul>
                        </div>
                        <!-- Social Box -->
                        <ul class="social-box">
                            <li class="facebook"><a href="{{setting.facebook}}" class="fa fa-facebook-f"></a></li>
                            <li class="instagram"><a href="{{setting.instagram}}" class="fa fa-instagram"></a></li>
                            <li class="youtube"><a href="{{setting.whatsapp}}" class="fa fa-whatsapp"></a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- END sidebar widget item -->