<!-- Instructor Section -->
<section class="instructor-section">
	<div class="background-layer" style="background-image:url(static/images/background/1.png)"></div>
	<div class="background-layer-one" style="background-image:url(static/images/background/pattern-1.png)"></div>
	<div class="background-layer-two" style="background-image:url(static/images/background/pattern-2.png)"></div>
	<div class="auto-container">
		<div class="sec-title centered">
			<h2 style="text-transform: uppercase;">Наши преимущества</h2>
		</div>
		<div class="row clearfix">
			
			<!-- Blocks Column -->
			<div class="blocks-column col-lg-12 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="row clearfix">
						{% for adv in advantage %}
						<!-- Service Block -->
						<div class="service-block col-lg-4 col-md-4 col-sm-12">
							<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="border-layer"></div>
								<div class="icon-box">
									<div class="icon flaticon-verify"></div>
								</div>
								<div class="text">{{adv.descrip}}</div>
							</div>
						</div>
						<!-- Service Block End -->
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Instructor Section -->