<!-- Courses Section -->
<section class="courses-section">
	<div class="pattern-layer" style="background-image:url(static/images/background/pattern-2.png)"></div>
	<div class="circle-one paroller" data-paroller-factor="-0.20" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
	<div class="circle-two paroller" data-paroller-factor="0.20" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
	<div class="auto-container">
		<div class="sec-title centered">
			<h2 style="text-transform: uppercase;">Наши курсы</h2>
		</div>
		<div class="row clearfix">
			{% for cat_ce in cat_cour %}
			<!-- Course Column -->
			<div class="course-block style-two col-lg-3 col-md-6 col-6">
				<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
					<div class="image">
						<a href="{{cat_ce.get_absolute_url}}">
							<img src="{{cat_ce.image.url}}" style="height: 200px; object-fit: cover;" alt="{{cat_ce.title}}" /></a>
					</div>
					<div class="lower-content">
						<h5><a href="{{cat_ce.get_absolute_url}}">{{cat_ce.title}}</a></h5>
					</div>
				</div>
			</div>
			{% endfor %}
			
		</div>
	</div>
</section>
<!-- End Courses Section -->