<!-- Teachers Section -->
<section class="testimonial-section-two style-two">
	<div class="circle-one paroller" data-paroller-factor="-0.20" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
	<div class="circle-two paroller" data-paroller-factor="0.20" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
	<div class="pattern-layer-two" style="background-image:url(static/images/background/pattern-10.png)"></div>
	<div class="auto-container">
		<div class="inner-container">
			<div class="pattern-layer" style="background-image:url(static/images/background/pattern-9.png)"></div>
			<!-- Sec Title -->
			<div class="sec-title centered">
				<h2>Преподаватели</h2>
			</div>
			<div class="testimonial-carousel-two owl-carousel owl-theme">

				{% for teach in teacher %}
				<!-- Testimonial Block Two -->
				<div class="testimonial-block-two">
					<div class="inner-box">
						<div class="author-info">
							<div class="author-image">
								<img src="{{teach.image.url}}" style="border-radius: 15px; height:220px; object-fit: cover;" />
							</div>
							<div class="info-inner">
								<h6>{{teach.name}}</h6>
								<div class="designation">{{teach.sub_title}}</div>
							</div>
						</div>
						<div class="border-layer"></div>
						<div class="text mt-3">{{teach.descrip|truncatewords:6|safe}}</div>
					</div>
				</div>
				{% endfor %}
				
			</div>
		</div>
	</div>
</section>
<!-- End Teachers Section -->